res/values/enc.xml
*.classpath
*.i
.hg/branch
.hg/cache/branch2-base
.hg/cache/tags
.hg/cur-message.txt
.hg/dirstate
.hg/hgrc
.hg/requires
*.d
.hg/store/fncache
.hg/thgstatus
*.hgignore
.project
proguard-project.txt
project.properties
.hg/cache/branch2-served
.hg/undo.dirstate
.hg/undo.desc
.hg/undo.branch
.hg/undo.bookmarks
.hg/store/undo.phaseroots
.hg/store/undo
.hg/store/phaseroots
.hg/cache/tags2-visible
.hg/cache/rbc-names-v1
.hg/cache/tags2-visible
.hg/cache/rbc-revs-v1
.hg/cache/tags2-visible
.hg/cache/tags2-visible
.hg/cache/tags2-visible
.hg/cache/tags2-visible
.hg/cache/tags2-visible
.hg/cache/tags2-visible
